
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.audio-section, .video-section {
    margin-bottom: 6px;
}
h2 {
    color: #333;
}
.audio-player {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
}
.video-iframe {
    width: 1390px;
    height: 1490;
}
header {
    background-color: #1f7f19;
    color: #151515;
    text-align: center;
    padding: 20px 0;
}
main {
    padding: 20px;
}